.add__details {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .add__details {
    width: 100%;
    margin: 15px 0;
  }
}
