*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #f2f2f2;
  --color-text: rgb(34, 33, 33);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-text);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 5px 10px;
  }
}

.text-center {
  text-align: center;
}

a {
  color: #7367f0;
  text-decoration: none;
  background-color: transparent;
}
li {
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(34, 41, 47, 0.1);
}

.py-10 {
  padding: 5px 10px;
}

.flex-sbt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}

.google__text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1.2rem;
}

.google_btn {
  padding: 10px 20px;
  width: 100%;
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
}

.form__wrapper {
  background: #fff;
  width: 500px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 60px 35px 15px 35px;
}

@media screen and (max-width: 768px) {
  .form__wrapper {
    max-width: 300px;
  }
}
